header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    /* border-bottom: 1px solid black; */
    box-shadow: 2px 2px gray;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

header img {
    width: 250px;
    height: 10vh;
}